@model IEnumerable<HaverDevProject.Models.Ncr>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NcrNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcrEngs.FirstOrDefault().EngDispositionType.EngDispositionTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcrQas.FirstOrDefault().NcrQacreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcrLastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcrQas.FirstOrDefault().NcrQauserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrEngs.FirstOrDefault().EngDispositionType.EngDispositionTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrQas.FirstOrDefault().NcrQacreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrLastUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusUpdate.StatusUpdateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrQas.FirstOrDefault().NcrQauserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NcrId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NcrId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
